.vs/
*.suo
*.cache

obj/Release/VPNDetection.csprojAssemblyReference.cache
obj/Release/VPNDetection.csproj.CoreCompileInputs.cache
obj/Release/VPNDetection.csproj.FileListAbsolute.txt
obj/Release/VPNDetection.csproj.CopyComplete
obj/Release/LogginUtil.pdb
obj/Release/LogginUtil.dll
obj/Release/LoggingUtil.pdb
obj/Release/LoggingUtil.dll
.vs/CustomLogger/v16/.suo
bin/Release/InfinityScript.dll
bin/Release/LoggingUtil.dll
bin/Release/LoggingUtil.pdb
obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
obj/Debug/Logger.csprojAssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Release/.NETFramework,Version=v4.0.AssemblyAttributes.cs
obj/Release/CustomLogger.csproj.CopyComplete
obj/Release/CustomLogger.csproj.CoreCompileInputs.cache
obj/Release/CustomLogger.csproj.FileListAbsolute.txt
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
obj/Release/Logger.csproj.CopyComplete
obj/Release/Logger.csproj.CoreCompileInputs.cache
obj/Release/Logger.csproj.FileListAbsolute.txt
obj/Release/Logger.csprojAssemblyReference.cache
/bin/Release/InfinityScript.pdb

